body {
  display: flex;
  flex-flow: row wrap;
  border: 2px solid red;
  margin: 4px;
  justify-content: center;
  /* height: 100%;
  width: 100%; */
  /* flex: 1;
  flex-basis: 600px */
}


div#container {
    border: 2px solid blue;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* flex-flow: row wrap; */
    justify-content:center;
    align-content:center;
    gap: 1%;
    /* gap: 5px; */
    /* flex: auto; */
    width: 100%;
    height: 1000px;
    /* flex: 1; */
    background: white;

}

div.tile {
  box-sizing: border-box;
  width: 20%;
  height: 20%;
  flex-shrink: 1;
  flex-basis: 20%;
  /* flex-grow: 1; */
  /* height: 20%; */
  /* min-width: 200px; */
  /* flex: 1 1 50px; */
  /* max-width: 200px; */
  /* max */
  /* flex: 1 1 100px; */
  /* flex: 1 1 0.%; */
  /* box-sizing: border-box; */
  /* min-height: 30px; */
  /* min-width: 30px; */
  /* flex: 1; */
  /* margin: 0%; */
  border: 4px solid purple;  
  background: rgb(186, 209, 229);
};